ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/*border: 1px solid #e7e7e7;*/
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

li:last-child {
	border-right: none;
}

.active {
	background-color: #4CAF50;
}

.left {
	/*padding: 30px;*/
	float: left;
	width: 30%;
	height: 100%;
	background-color: gray;
	text-align: center;
	/*line-height: 200px;*/
}

.right {
	/*padding: 30px;*/
	float: left;
	width: 70%;
	height: 100%;
	text-align: center;
	background-color: red;
	/*line-height: 200px;*/
}